/* custom styling */
.navbar {
    background:#fff;
}
body {
    background-color: rgb(73, 96, 113) !important;
}
.logo{
    max-height: 50px;
}

#mainNav .nav-link:hover{
    -webkit-transition: all .35s;
    transition: all .35s;
    color:rgb(73, 96, 113);
}

.nav-item .nav-link .active {
  color:rgb(73, 96, 113);
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

.material-icons {
    vertical-align: middle;
    padding-bottom: 2px;
}


.custom-toggle {
    margin-right: 1em;
}
