/* custom styling */
.navbar {
    background:#fff;
}

h2{
    padding-top:10px !important;
    color:lightgray !important;
}

body {
    background-color: rgb(73, 96, 113) !important;
}
.logo{
    max-height: 50px;
}

.main-bg-color,
.card.main-bg-color {
    background-color: rgb(73, 96, 113);
}

/* todo, might be nice */
.card-ripple {
    background-position: center;
    transition: background 0.7s;
}

.card-ripple:active {
    background-color: rgb(106, 142, 169);
    background-size: 100%;
    transition: background 0s;
}

#mainNav .nav-link:hover{
    -webkit-transition: all .35s;
    transition: all .35s;
    color:rgb(73, 96, 113);
}

.nav-item .nav-link .active {
  color:rgb(73, 96, 113);
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

.material-icons {
    vertical-align: middle;
    padding-bottom: 2px;
}


.custom-toggle {
    margin-right: 1em;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

.custom-card-icon > .material-icons {
    font-size: 10em;
}

