/* custom styling */
.bg-primary {
  background: #344e86;
  background: -webkit-gradient(linear, left top, left bottom, from(#344e86), to(rgb(73, 96, 113)));
  background: linear-gradient(#344e86, rgb(73, 96, 113));
}

#mainNav .nav-link:hover{
    -webkit-transition: all .35s;
    transition: all .35s;
    color:white;
}

.material-icons {
    vertical-align: middle;
    padding-bottom: 2px;
}


.custom-toggle {
    margin-right: 1em;
}
#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}
