<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} | pooler.</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block sheets %}{% endblock %}
        <!-- Custom fonts for this template -->
        <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/new-age.min.css')}}" rel="stylesheet">


        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">

                <button class="navbar-toggler btn btn-outline-secondary custom-toggle" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <i class="material-icons">menu</i>

                </button>
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/poolerlogo.png') }}" alt="pooler." class="logo"/></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link {% if current == 'home' %} active {% endif %} " href="{{ url_for('hello_world') }}">Home</a>
                        <a class="nav-item nav-link {% if current == 'book' %} active {% endif %} " href="{{ url_for('book') }}">Book</a>
                        <a class="nav-item nav-link {% if current == 'calendar' %} active {% endif %} " href="#">Calendar</a>
                        <a class="nav-item nav-link {% if current == 'history' %} active {% endif %} " href="#">History</a>
                    </div>
                </div>
            </div>
        </nav>


        {% block top_wide_content %}{% endblock %}

        <div class="container">

            {% block content %}{% endblock %}
        </div>

  <footer>
    <div class="container">
      <p>&copy; Your Website 2019. All Rights Reserved.</p>
    </div>
  </footer>
        <script src="{{ url_for('static', filename='js/rippler.js') }}"></script>
          <!-- Custom scripts for this template -->
        <script src="{{ url_for('static', filename='js/new-age.min.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
