{% extends 'base.html' %}

{% block sheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block title %}Book Rides{% endblock %}

{% block content %}
    <header class="masthead main-bg-color">
    <section>
        <div class="container">
            <div class="section-heading text-center">
            <h2>View Rides</h2>
            <p class="tagline">View available rides and book in</p>
            <hr>
          </div>
        </div>
    </section>
    </header>
    <section class="container">
    <div class="row text-center ">
        <div class="col-lg">
            <div class="dropdown">
              <button class="btn btn-pooler dropdown-toggle" id="categoryContent"
                      type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Looking For</button>
              <div class="dropdown-menu" id="category">
                  <a class="dropdown-item" href="#!">Drivers</a>
                  {% if user.driver %}
                  <a class="dropdown-item" href="#!">Passengers</a>
                  {% endif %}
              </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="dropdown">
              <button class="btn btn-pooler dropdown-toggle" id="campusContent"
                      type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Campus</button>
              <div class="dropdown-menu" id="campus">
                  <a class="dropdown-item" href="#!">Clayton</a>
                  <a class="dropdown-item" href="#!">Caulfield</a>
                  <a class="dropdown-item" href="#!">Peninsula</a>
              </div>
            </div>
            </div>
    <script>
        $('#category > a').click(function(e){
            $('#categoryContent').text(this.innerHTML);
            filter();
        });
        $('#campus > a').click(function(e){
            $('#campusContent').text(this.innerHTML);
            filter();
        });
    </script>
        <div class="col-lg">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" id="datetimeContent" class="form-control datetimepicker-input" data-target="#datetimepicker1" value=""/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        icons: {
                            time: 'fa fa-clock'
                        },
                        locale: 'en-au'
                    });
                });
            </script>
        </div>
    {% if user.driver %}
        <div class="col-lg">
            <button type="button" class="btn btn-pooler" data-toggle="modal" data-target="#modal">Create Ride</button>
            </div>
            </div>
    {% endif %}
    </div>
    </section>
    <hr>

    <section>
    <div class="container" id="available">
        <script>
            let available = [{name: 'Test Driver', rating: 4.8, arrive: '9:30 AM', distance: 3, campus: "Clayton", category: "Driver"}];
            let filtered = [];

            for (let i = 0; i < available.length; i++) {

            }
            document.getElementById("available").innerHTML="";
            for (let i = 0; i < filtered.length; i++) {
                card = document.createElement('div');
                card.classList.add("card", "ride");
                card_header = document.createElement('h5');
                card_header.classList.add("card-header");
                card_header.innerHTML = filtered[i]["name"];
                card.appendChild(card_header);
                card_body = document.createElement('div');
                card_body.classList.add("card-body");
                card.appendChild(card_body);
                card_title = document.createElement('h5');
                card_title.classList.add("card-title");
                card_title.innerHTML = "Wants to Arrive At: " + filtered[i]["arrive"];
                card_body.appendChild(card_title);
                card_text = document.createElement('p');
                card_text.classList.add("card-text");
                card_text.innerHTML = filtered[i]["distance"] + "km away";
                card_body.appendChild(card_text);
                card_btn = document.createElement('a');
                card_btn.classList.add("btn");
                card_btn.onclick = function() {alert('Booked Ride!')};
                card_btn.innerHTML = "Book Ride";
                card_btn.classList.add("btn-pooler");
                card_btn.innerHTML = "Book Ride";
                card_btn.dataset.target = "#exampleModal2";
                card_btn.dataset.toggle = "modal";
                card_body.append(card_btn);

                document.getElementById("available").appendChild(card)
            }
        </script>
    </div>
    </section>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header main-bg-color">
                    <h5 class="modal-title" id="ModalLabel" style="color:white;" data-toggle="modal" data-target="#modal" >Create ride</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="startTime" class="col-sm-4 col-form-label">Departure time</label>
                            <div class="col-sm">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepickermodal1" data-target-input="nearest">
                                        <input type="text" id="datetimeContent1" class="form-control datetimepicker-input" data-target="#datetimepickermodal1" value=""/>
                                        <div class="input-group-append" data-target="#datetimepickermodal1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                 $(function () {
                                     $('#datetimepickermodal1').datetimepicker();
                                 });
                                </script>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="campusModal" class="col-sm-4 col-form-label">Destination</label>
                            <div class="col-sm">
                                <div class="dropdown">
                                    <button class="btn btn-pooler dropdown-toggle" id="campusContentModal"
                                            type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Destination</button>
                                    <div class="dropdown-menu" id="campusModal" name="campusModal">
                                        <a class="dropdown-item" href="#!">Clayton</a>
                                        <a class="dropdown-item" href="#!">Caulfield</a>
                                        <a class="dropdown-item" href="#!">Peninsula</a>
                                        <a class="dropdown-item" href="#!">Home</a>
                                    </div>
                                </div>
                            </div>
                            <script>
                             
                             $('#campusModal > a').click(function(e){
                                 $('#campusContentModal').text(this.innerHTML);
                                 filter();
                             });
                            </script>
                        </div>
                        <div class="form-group row">
                            <label for="seatsModal" class="col-sm-4 col-form-label">Seats</label>
                            <div class="col-sm">
                                <div class="dropdown">
                                    <button class="btn btn-pooler dropdown-toggle" id="seatsContentModal"
                                            type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">3</button>
                                    <div class="dropdown-menu" id="seatsModal" name="seatsModal">
                                        <a class="dropdown-item" href="#!">1</a>
                                        <a class="dropdown-item" href="#!">2</a>
                                        <a class="dropdown-item" href="#!">3</a>
                                        <a class="dropdown-item" href="#!">4</a>
                                        <a class="dropdown-item" href="#!">5</a>
                                        <a class="dropdown-item" href="#!">6</a>
                                    </div>
                                </div>
                            </div>
                            <script>
                             
                             $('#seatsModal > a').click(function(e){
                                 $('#seatsContentModal').text(this.innerHTML);
                                 filter();
                             });
                            </script>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="submit()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal2Label"><i class="material-icons">check</i> Booked!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    function filter(){
        campus = document.getElementById("campusContent").innerHTML;
        if(campus === "Campus"){
            campus = "";
        }
        category = document.getElementById("categoryContent").innerHTML;
        if(category === "Looking For"){
            category = "";
        }
        dateTime = document.getElementById("datetimeContent").value;
        if(dateTime !== ""){
            date = dateTime.split(" ")[0];
            time = dateTime.split(" ")[1];
        }
        console.log(date)
    }

    function display(campus, category, date, time){
        array.forEach(function (item, index){
            
        })
    }
    </script>
{% endblock %}
