{% extends 'base.html' %}

{% block sheets %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
{% endblock %}

{% block title %}Calender{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="section-heading text-center">
            <h2>Calender</h2>
            <p>Input your timetable to help us find you better rides.</p>
            <hr>
          </div>
        </div>
    </section>
    <section>
        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery.min.js'></script>
        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery-ui.min.js'></script>
        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js'></script>        
        <script>
            $(document).ready(function() {
                $('#calendar1').fullCalendar({
                    defaultDate: '2014-09-12',
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                });
            });
        </script>
    <div id="calendar1"></div>

    </section>
    <hr>
    <section>
      <div class="text-center">
        <div class="card main-bg-color text-light">
          <div class="card-body">
            <h3 class="card-title">Edit Calender</h3>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <br>
      </div>
    </section>

    <section>
      <div class="text-center">
        <div class="card main-bg-color text-light">
          <div class="card-body">
            <h3 class="card-title">Generate Ride Times</h3>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <br>
      </div>
    </section>

    <section>
      <div class="text-center">
        <div class="card main-bg-color text-light">
          <div class="card-body">
            <h3 class="card-title">Set Ride Times</h3>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <br>
      </div>
    </section>

    <br>
{% endblock %}