{% extends 'base.html' %}

{% block sheets %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    

    <link href='static/packages/core/main.css' rel='stylesheet' />
    <link href='static/packages/daygrid/main.css' rel='stylesheet' />
    <link href='static/packages/timegrid/main.css' rel='stylesheet' />
    <link href='static/packages/list/main.css' rel='stylesheet' />
    <script src='static/packages/core/main.js'></script>
    <script src='static/packages/interaction/main.js'></script>
    <script src='static/packages/daygrid/main.js'></script>
    <script src='static/packages/timegrid/main.js'></script>
    <script src='/static/packages/list/main.js'></script>
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="section-heading text-center">
            <h2>Calendar</h2>
            <p>Input your timetable to help us find you better rides.</p>
            <hr>
          </div>
        </div>
    </section>
    <section>
      <div class="card">       
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
        
            var calendar = new FullCalendar.Calendar(calendarEl, {
              plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
              height: 'parent',
              header: {
                left: 'prev',
                center: 'title',
                right: 'next'
              },
              defaultView: 'dayGridMonth',
              defaultDate: '2019-01-01',
              selectable: true,
              selectMirror: true,
              select: undefined // <-- code function for when something is selected here
            });
        
            calendar.render();
          });
        
        </script>
        <div id="calendar" class="card-body"></div>
      </div>
    </section>
    <hr>
    <section>
      <div class="text-center">
        <div class="card main-bg-color text-light">
          <div class="card-body">
            <h3 class="card-title">Edit Calendar</h3>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <br>
      </div>
    </section>

    <section>
      <div class="text-center">
        <div class="card main-bg-color text-light">
          <div class="card-body">
            <h3 class="card-title">Generate Ride Times</h3>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <br>
      </div>
    </section>

    <section>
      <div class="text-center">
        <div class="card main-bg-color text-light">
          <div class="card-body">
            <h3 class="card-title">Set Ride Times</h3>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <br>
      </div>
    </section>

    <br>
{% endblock %}