{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block top_wide_content %}
<header class="masthead">

    <div class="main-bg-color h-100 text-center main-avatar">
        <a href="#"><img src="{{ url_for('static', filename='img/pfpTestSq.jpg')}}" class="rounded-circle img-fluid" alt="pfpTest"></a>
      </div>
    </div>
</header>
<br>
{% endblock %}

{% block content %}
  <section class="features" id="features">
    <div class="container">
      <div class="text-center">
          <div class="card main-bg-color text-light">
              <div class="card-body">
                  <h3 class="card-title">123ABC - 9 mins</h3>
              </div>
          </div>
          <br>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="text-center">
                  <div class="card main-bg-color text-light card-ripple shadow-lg">
                      <div class="card-body">
                          <p class="card-text custom-card-icon"><i class="material-icons">search</i></p>
                          <h3 class="card-title">Find rides</h3>
                          <a href="#" class="stretched-link"></a>
                      </div>
                  </div>
                  <br>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="text-center">
                  <div class="card main-bg-color text-light card-ripple shadow-lg">
                      <div class="card-body">
                          <p class="card-text custom-card-icon"><i class="material-icons">calendar_today</i></p>
                          <h3 class="card-title">Calendar</h3>
                          <a href="#" class="stretched-link"></a>
                      </div>
                  </div>
                  <br>
              </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}
<!--
TODO:
Redo color of texts
Do formatting for upcoming ride
Do formatting for cards
-->
